body {
  --safe_area_inset_top: 0px;
  --safe_area_inset_right: 0px;
  --safe_area_inset_bottom: 0px;
  --safe_area_inset_left: 0px;

  @supports (padding-top: constant(safe-area-inset-top)) {
    --safe_area_inset_top: constant(safe-area-inset-top);
    --safe_area_inset_right: constant(safe-area-inset-right);
    --safe_area_inset_bottom: constant(safe-area-inset-bottom);
    --safe_area_inset_left: constant(safe-area-inset-left);
  }

  @supports (padding-top: env(safe-area-inset-top)) {
    --safe_area_inset_top: env(safe-area-inset-top);
    --safe_area_inset_right: env(safe-area-inset-right);
    --safe_area_inset_bottom: env(safe-area-inset-bottom);
    --safe_area_inset_left: env(safe-area-inset-left);
  }

  --body-background: #141414;
  --page-background: #141414;
  --component-background: #222222;

  --accent: #f1fe09;
  --accent--extra: #99a2ad;

  --font-color-default: #d1d1d1;
  --font-color-default-transparent: rgba(209, 209, 209);

  --icon-color: var(--accent--extra);

  --padding-large: 16px;
  --padding-middle: 12px;
  --padding-small: 8px;
  --padding-default: var(--padding-middle);

  --radius-large: 30px;
  --radius-middle: calc(var(--radius-large) / 2);
  --radius-small: calc(var(--radius-middle) / 2);
  --radius-default: var(--radius-middle);

  --page-header-height: 56px;
  --tabbar-height: 48px;
}
